* {
  font-family: Basic-Sans;
}

body, html {
  margin: 0;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#248AE4), to(#28C571));
  background: linear-gradient(#248AE4, #28C571);
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

header svg {
  position: absolute;
  top: 0;
  height: 260px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
          filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
}

header .logo #header-logo {
  margin: 40px;
}

header ul {
  margin-left: auto;
  margin-right: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-column-gap: 70px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  font-family: "BenchNine", sans-serif !important;
  font-size: 3vw;
  list-style: none;
  color: #248AE4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header ul li:hover {
  border-bottom: 4px solid #248AE4;
}

header .search {
  position: absolute;
  margin-left: 70%;
  top: 100%;
  color: #248AE4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

header .search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #248AE4;
  border-right: none;
  border-radius: 40px 0 0 40px;
  padding: 0 40px;
  font-family: "BenchNine", sans-serif !important;
  height: 55px;
  font-size: 1.4vw;
  color: #248AE4;
}

header .search input::-webkit-input-placeholder {
  color: #248AE4;
}

header .search input:-ms-input-placeholder {
  color: #248AE4;
}

header .search input::-ms-input-placeholder {
  color: #248AE4;
}

header .search input::placeholder {
  color: #248AE4;
}

header .search input:focus {
  outline: none;
}

header .search .search-icon {
  content: "";
  border: 1px solid #248AE4;
  border-left: none;
  border-radius: 0 40px 40px 0;
  display: inline-block;
  width: 40px;
  height: 55px;
  padding: 0 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/icon-search.svg);
}

#home {
  color: white;
  padding: 340px 70px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .home-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#home .home-content h1 {
  margin: 10px;
  font-size: 9vw;
  width: auto;
  font-weight: 900;
  line-height: 60px;
}

#home .home-content h2 {
  margin: 0;
  font-size: 5vw;
  width: auto;
  font-weight: 600;
}

#home .home-content p {
  margin: 0;
  margin-top: 30px;
  font-size: 3vw;
  width: auto;
  font-weight: 100;
  text-transform: uppercase;
}

#home .home-content button {
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  width: 200px;
  height: 60px;
  color: white;
  text-transform: uppercase;
  font-family: Basic-Sans;
  font-weight: 700;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}

#home .home-content button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#home .home-content button:focus {
  outline: none;
}

#home .home-image {
  position: absolute;
  right: 40px;
}

#home .home-image img {
  width: 600px;
}

#who {
  padding: 500px 70px 0 70px;
  background-repeat: no-repeat;
  background-image: url(../assets/background-section.svg);
  height: 1400px;
  background-size: cover;
  color: #8F8F8F;
}

#who h1 {
  font-family: "BenchNine", sans-serif;
  font-size: 6vw;
  width: auto;
  font-weight: 700;
  line-height: 60px;
}

#who h2 {
  font-size: 3vw;
  width: auto;
  font-weight: 400;
}

#who p {
  margin: 0;
  margin-top: 30px;
  font-size: 2vw;
  width: auto;
  font-weight: 300;
}

#who .who-images {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-column-gap: 70px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#who .who-images img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#who .who-images img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#why {
  padding: 60px 70px 0 70px;
  height: 1050px;
  color: white;
}

#why h1 {
  font-family: "BenchNine", sans-serif;
  margin: 0;
  font-size: 6vw;
  width: auto;
  font-weight: 700;
  line-height: 60px;
}

#why h2 {
  margin: 20px 0;
  font-size: 3vw;
  width: auto;
  font-weight: 400;
}

#why p {
  margin: 0;
  margin-top: 30px;
  font-size: 1.8vw;
  width: auto;
  font-weight: 300;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

#contact {
  padding: 300px 70px 60px 70px;
  color: #248AE4;
  background-repeat: no-repeat;
  background-image: url(../assets/contact-background.svg);
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact .contact-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 80px;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#contact .contact-content h1 {
  font-family: "BenchNine", sans-serif;
  font-size: 6vw;
  width: auto;
  font-weight: 700;
  line-height: 60px;
}

#contact .contact-content h2 {
  margin: 20px 0;
  font-size: 1.6vw;
  width: auto;
  font-weight: 400;
}

#contact .contact-content label {
  font-weight: 200;
  font-size: 1.2vw;
  padding-left: 20px;
}

#contact .contact-content input {
  border: 1px solid #248AE4;
  border-radius: 30px;
  padding: 0 20px;
  font-family: "BenchNine", sans-serif !important;
  height: 55px;
  color: #248AE4;
  margin-bottom: 20px;
}

#contact .contact-content input::-webkit-input-placeholder {
  color: #248AE4;
}

#contact .contact-content input:-ms-input-placeholder {
  color: #248AE4;
}

#contact .contact-content input::-ms-input-placeholder {
  color: #248AE4;
}

#contact .contact-content input::placeholder {
  color: #248AE4;
}

#contact .contact-content input:focus {
  outline: none;
}

#contact .contact-content button {
  margin-left: auto;
  margin-top: 30px;
  background-color: #248AE4;
  border: 1px solid white;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-family: Basic-Sans;
  font-weight: 700;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}

#contact .contact-content button:hover {
  background-color: rgba(36, 138, 228, 0.8);
  border: 1px solid #248AE4;
  color: rgba(255, 255, 255, 0.8);
}

#contact .contact-content button:focus {
  outline: none;
}

#contact .contact-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  overflow: hidden;
}

#contact .contact-image:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

#contact .contact-image .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .contact-image .content img {
  height: 100%;
}

footer {
  padding: 30px 0;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #212121;
}

footer > div:not(:first-child) {
  padding-left: 30px;
  border-left: 1px solid white;
}

footer h1 {
  font-size: 16px;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logo img {
  width: 200px;
}

footer .footer-social {
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-social .footer-social-content {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

footer .footer-social .footer-social-content img {
  width: 20px;
  height: 20px;
}

footer .footer-social .footer-social-content a {
  padding-left: 30px;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

footer .footer-social .footer-social-content a:hover {
  text-decoration: underline;
}

footer .footer-info p {
  font-weight: 200;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */